# Dependencies
/node_modules
/.pnp
.pnp.js
/backend/venv
/backend/.venv

# Testing
/coverage

# Next.js
/.next/
/out/
/build
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local Env Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/backend/.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Database
*.sqlite3
*.db
pgdata/

# IDEs
.idea
.vscode
*.swp
